<div class="row" style="margin-top: 70px; margin-left: 10%; margin-right: 10%">
  <div class="col-xl-3 col-md-3 animated bounceInLeft" style="-webkit-box-shadow: 11px 10px 4px -4px rgba(0,0,0,0.67);
  -moz-box-shadow: 11px 10px 4px -4px rgba(0,0,0,0.67); box-shadow: 11px 10px 4px -4px rgba(0,0,0,0.67); border-radius:10px ; height: 340px; border: solid 2px #bdbdbd; text-align: center">
    <a routerLink="/all">
      <img src="assets/logofintek.png" title="Fintek" style="width:265px; margin-top: 25px; margin-right: 8px">
    </a>
  </div>
  <div class="col-xl-1 col-md-1"></div>
  <div class="col-xl-3 col-md-3 " style="-webkit-box-shadow: 11px 10px 4px -4px rgba(0,0,0,0.67);
  -moz-box-shadow: 11px 10px 4px -4px rgba(0,0,0,0.67); box-shadow: 11px 10px 4px -4px rgba(0,0,0,0.67); border-radius:10px; height: 340px; border: solid 2px #bdbdbd; text-align: center">
    <a routerLink="/jirama">    
      <img src="assets/jirama.png" style="margin-top: 35px;" title="Jirama">
    </a>
  </div>
  <div class="col-xl-1 col-md-1"></div>
  <div class="col-xl-3 col-md-3 animated bounceInRight" style="-webkit-box-shadow: 11px 10px 4px -4px rgba(0,0,0,0.67);
  -moz-box-shadow: 11px 10px 4px -4px rgba(0,0,0,0.67); box-shadow: 11px 10px 4px -4px rgba(0,0,0,0.67); border-radius:10px; height: 340px; border: solid 2px #bdbdbd; text-align: center">
    <a routerLink="/depot">    
      <img src="assets/money-bag.png" style="margin-top: 35px; width: 200px;margin-right: 8px; " title="Dépôt">
    </a>
  </div>
</div>